<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Viagens - Cadastro</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
	<link rel="stylesheet" type="text/css" th:href="@{css/cadastro/index.css}">
</head>

<body>
	<!-- Navbar -->
	    <div th:replace="fragments/navbar"></div>


	<!-- Conteúdo da Página Cadastro -->
	<main>
		<div class="container">
			<div class="d-flex justify-content-between flex-column flex-lg-row align-items-center">
				<div class="card text-center mb-3" style="width: 20rem;">
					<div class="card-body">
						<img src="img/negocios.png" class="card-img-top" alt="cliente">
						<h3 class="card-title fw-bold mt-3">Cliente</h3>
						<a th:href="@{/cliente}" class="btn btn-success mt-3 btn-block fw-bold">Listar/Cadastrar
							Cliente</a>
					</div>
				</div>

				<div class="card text-center mb-3" style="width: 20rem;">
					<div class="card-body">
						<img src="img/destino.png" class="card-img-top" alt="destino">
						<h3 class="card-title fw-bold mt-3">Destino</h3>
						<a th:href="@{/destino}" class="btn btn-success mt-3 btn-block fw-bold">Listar/Cadastrar
							Destino</a>
					</div>
				</div>

				<div class="card text-center mb-3" style="width: 20rem;">
					<div class="card-body">
						<img src="img/mala.png" class="card-img-top" alt="viagem">
						<h3 class="card-title fw-bold mt-3">Viagem</h3>
						<a th:href="@{/viagem}" class="btn btn-success btn-block mt-3 fw-bold">Listar/Cadastrar
							Viagem</a>
					</div>
				</div>
			</div>
		</div>
	</main>	
	<br>
	<br>
	<div th:replace="fragments/footer :: footer"></div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>